h1 {
	@apply h1 mb-2;
}

h2 {
	@apply h2 mb-2;
}

h3 {
	@apply h3 mb-2;
}

ul {
	@apply pl-6 list-disc;
}

code:not(pre code) {
	@apply code;
}

blockquote {
	@apply blockquote;
}

a {
	@apply anchor;
}

p {
	@apply py-2;
}
